html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*/////////////////////////////////////////////////////*/

/*************************ИКОНКИ*************************/

.sprite {
    background-image: url('../img/socialIcon.png');
    background-repeat: no-repeat;
    display: block;
}

.sprite-FB {
    width: 47px;
    height: 47px;
    background-position: -5px -5px;
}

.sprite-FB:hover {
    width: 47px;
    height: 47px;
    background-position: -62px -5px;
}

.sprite-Github {
    width: 47px;
    height: 47px;
    background-position: -5px -62px;

}

.sprite-Github:hover {
    width: 47px;
    height: 47px;
    background-position: -62px -62px;
}

.sprite-Twitter {
    width: 47px;
    height: 47px;
    background-position: -119px -5px;
}

.sprite-Twitter:hover {
    width: 47px;
    height: 47px;
    background-position: -119px -62px;
}

.sprite-VK {
    width: 47px;
    height: 47px;
    background-position: -5px -119px;
}

.sprite-VK:hover {
    width: 47px;
    height: 47px;
    background-position: -62px -119px;
}

ul{
    list-style: none;
}
.socialIco li{
    display: inline-block;
    float: right;
    margin-left: 24px;
}

.logo{
    float: left;
}



/***********************/


s

.sprite-briefcase {
    width: 41px;
    height: 34px;
    background-position: -2px -2px;
}

.sprite-cap {
    width: 41px;
    height: 34px;
    background-position: -47px -2px;
}

.sprite-docum {
    width: 41px;
    height: 34px;
    background-position: -92px -2px;
}

.sprite-login {
    width: 20px;
    height: 32px;
    background-position: -137px -2px;
}
/***************************************/

/*.sprite {
    background-image: url('../img/lockAndUnlock.png');
    background-repeat: no-repeat;
    display: block;
}*/

.sprite-lokc {
    width: 20px;
    height: 32px;
    background-position: -2px -2px;
}

.sprite-unlock {
    width: 20px;
    height: 32px;
    background-position: -26px -2px;
}



/*************************ИКОНКИ-end*************************/




/*************************************BODY**********************************/
body{
    background-image: url('../img/bg.png');
    background-color: #fbfcfd;
    font-size: 100%;
}
/*************************************BODY**********************************/

/************************************header************************************************************/

.header{
    background-color: #eff3f7;
    padding-top: 35px;
    padding-bottom: 40px;
}

.alignHeader{
    max-width: 1200px;
    margin: 0 auto;
}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
.stripe{
    width: 100%;
    height: 3px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e7eff2+0,e7eff2+5,e1ecf2+8,e0ebef+8,dfe8ef+9,dbe8ee+9,dde8ee+10,d8e5eb+10,d6e3eb+12,c9dae1+15,c3d7e0+16,c0d4dd+17,bdd4dc+17,b5cdd7+19,b3ccd3+19,b1ccd5+20,aac7cf+21,abc7d2+21,a8c5cd+21,a8c4cf+22,99bbc5+24,99bbc7+24,94b9c2+25,96b8c4+25,92b6c2+25,86aeba+27,87afbb+28,82acba+28,82aab6+29,80aab8+29,7aa6b3+30,6194a5+33,5e93a3+34,558d9c+35,548c9d+35,4b8696+36,458294+37,418091+38,3e7d8f+38,38798b+39,307384+41,2b6f84+42,276e80+43,1e677a+47,1c677c+47,1e677a+47,1b667b+47,1d687b+51,20697c+51,20687e+52,256c7e+54,266d81+54,246d80+54,357688+59,39788a+59,397a8c+60,3c7b8d+60,448193+61,438092+61,488395+62,4b8696+63,4f8899+63,558d9c+64,5c91a1+65,6195a3+66,6a99a9+67,7aa6b3+70,7aa6b1+70,7ba7b4+70,7ea8b4+71,81a8b7+71,7fa9b5+71,83abb7+71,8fb3bf+74,8fb4bd+74,94b6c0+74,9bbbc6+76,a8c4cf+78,a8c5cd+79,afcad3+80,b2cad4+80,b2cbd2+81,b4ccd6+81,b5ccd4+81,bbcfd8+82,bbd2da+83,bfd3dc+83,bfd3da+83,c3d5df+84,c7dae0+85,cedde4+86,cddee5+87,e0e9ee+91,e0ebf1+92,e1eaef+93,e2ebf2+93,e1ecf0+93,e3ecf3+93,e5eef3+94,e7eff2+100 */
    background: #709fac; /* Old browsers */
    background: -moz-linear-gradient(left,  #e7eff2 0%, #e7eff2 5%, #e1ecf2 8%, #e0ebef 8%, #dfe8ef 9%, #dbe8ee 9%, #dde8ee 10%, #d8e5eb 10%, #d6e3eb 12%, #c9dae1 15%, #c3d7e0 16%, #c0d4dd 17%, #bdd4dc 17%, #b5cdd7 19%, #b3ccd3 19%, #b1ccd5 20%, #aac7cf 21%, #abc7d2 21%, #a8c5cd 21%, #a8c4cf 22%, #99bbc5 24%, #99bbc7 24%, #94b9c2 25%, #96b8c4 25%, #92b6c2 25%, #86aeba 27%, #87afbb 28%, #82acba 28%, #82aab6 29%, #80aab8 29%, #7aa6b3 30%, #6194a5 33%, #5e93a3 34%, #558d9c 35%, #548c9d 35%, #4b8696 36%, #458294 37%, #418091 38%, #3e7d8f 38%, #38798b 39%, #307384 41%, #2b6f84 42%, #276e80 43%, #1e677a 47%, #1c677c 47%, #1e677a 47%, #1b667b 47%, #1d687b 51%, #20697c 51%, #20687e 52%, #256c7e 54%, #266d81 54%, #246d80 54%, #357688 59%, #39788a 59%, #397a8c 60%, #3c7b8d 60%, #448193 61%, #438092 61%, #488395 62%, #4b8696 63%, #4f8899 63%, #558d9c 64%, #5c91a1 65%, #6195a3 66%, #6a99a9 67%, #7aa6b3 70%, #7aa6b1 70%, #7ba7b4 70%, #7ea8b4 71%, #81a8b7 71%, #7fa9b5 71%, #83abb7 71%, #8fb3bf 74%, #8fb4bd 74%, #94b6c0 74%, #9bbbc6 76%, #a8c4cf 78%, #a8c5cd 79%, #afcad3 80%, #b2cad4 80%, #b2cbd2 81%, #b4ccd6 81%, #b5ccd4 81%, #bbcfd8 82%, #bbd2da 83%, #bfd3dc 83%, #bfd3da 83%, #c3d5df 84%, #c7dae0 85%, #cedde4 86%, #cddee5 87%, #e0e9ee 91%, #e0ebf1 92%, #e1eaef 93%, #e2ebf2 93%, #e1ecf0 93%, #e3ecf3 93%, #e5eef3 94%, #e7eff2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e7eff2), color-stop(5%,#e7eff2), color-stop(8%,#e1ecf2), color-stop(8%,#e0ebef), color-stop(9%,#dfe8ef), color-stop(9%,#dbe8ee), color-stop(10%,#dde8ee), color-stop(10%,#d8e5eb), color-stop(12%,#d6e3eb), color-stop(15%,#c9dae1), color-stop(16%,#c3d7e0), color-stop(17%,#c0d4dd), color-stop(17%,#bdd4dc), color-stop(19%,#b5cdd7), color-stop(19%,#b3ccd3), color-stop(20%,#b1ccd5), color-stop(21%,#aac7cf), color-stop(21%,#abc7d2), color-stop(21%,#a8c5cd), color-stop(22%,#a8c4cf), color-stop(24%,#99bbc5), color-stop(24%,#99bbc7), color-stop(25%,#94b9c2), color-stop(25%,#96b8c4), color-stop(25%,#92b6c2), color-stop(27%,#86aeba), color-stop(28%,#87afbb), color-stop(28%,#82acba), color-stop(29%,#82aab6), color-stop(29%,#80aab8), color-stop(30%,#7aa6b3), color-stop(33%,#6194a5), color-stop(34%,#5e93a3), color-stop(35%,#558d9c), color-stop(35%,#548c9d), color-stop(36%,#4b8696), color-stop(37%,#458294), color-stop(38%,#418091), color-stop(38%,#3e7d8f), color-stop(39%,#38798b), color-stop(41%,#307384), color-stop(42%,#2b6f84), color-stop(43%,#276e80), color-stop(47%,#1e677a), color-stop(47%,#1c677c), color-stop(47%,#1e677a), color-stop(47%,#1b667b), color-stop(51%,#1d687b), color-stop(51%,#20697c), color-stop(52%,#20687e), color-stop(54%,#256c7e), color-stop(54%,#266d81), color-stop(54%,#246d80), color-stop(59%,#357688), color-stop(59%,#39788a), color-stop(60%,#397a8c), color-stop(60%,#3c7b8d), color-stop(61%,#448193), color-stop(61%,#438092), color-stop(62%,#488395), color-stop(63%,#4b8696), color-stop(63%,#4f8899), color-stop(64%,#558d9c), color-stop(65%,#5c91a1), color-stop(66%,#6195a3), color-stop(67%,#6a99a9), color-stop(70%,#7aa6b3), color-stop(70%,#7aa6b1), color-stop(70%,#7ba7b4), color-stop(71%,#7ea8b4), color-stop(71%,#81a8b7), color-stop(71%,#7fa9b5), color-stop(71%,#83abb7), color-stop(74%,#8fb3bf), color-stop(74%,#8fb4bd), color-stop(74%,#94b6c0), color-stop(76%,#9bbbc6), color-stop(78%,#a8c4cf), color-stop(79%,#a8c5cd), color-stop(80%,#afcad3), color-stop(80%,#b2cad4), color-stop(81%,#b2cbd2), color-stop(81%,#b4ccd6), color-stop(81%,#b5ccd4), color-stop(82%,#bbcfd8), color-stop(83%,#bbd2da), color-stop(83%,#bfd3dc), color-stop(83%,#bfd3da), color-stop(84%,#c3d5df), color-stop(85%,#c7dae0), color-stop(86%,#cedde4), color-stop(87%,#cddee5), color-stop(91%,#e0e9ee), color-stop(92%,#e0ebf1), color-stop(93%,#e1eaef), color-stop(93%,#e2ebf2), color-stop(93%,#e1ecf0), color-stop(93%,#e3ecf3), color-stop(94%,#e5eef3), color-stop(100%,#e7eff2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #e7eff2 0%,#e7eff2 5%,#e1ecf2 8%,#e0ebef 8%,#dfe8ef 9%,#dbe8ee 9%,#dde8ee 10%,#d8e5eb 10%,#d6e3eb 12%,#c9dae1 15%,#c3d7e0 16%,#c0d4dd 17%,#bdd4dc 17%,#b5cdd7 19%,#b3ccd3 19%,#b1ccd5 20%,#aac7cf 21%,#abc7d2 21%,#a8c5cd 21%,#a8c4cf 22%,#99bbc5 24%,#99bbc7 24%,#94b9c2 25%,#96b8c4 25%,#92b6c2 25%,#86aeba 27%,#87afbb 28%,#82acba 28%,#82aab6 29%,#80aab8 29%,#7aa6b3 30%,#6194a5 33%,#5e93a3 34%,#558d9c 35%,#548c9d 35%,#4b8696 36%,#458294 37%,#418091 38%,#3e7d8f 38%,#38798b 39%,#307384 41%,#2b6f84 42%,#276e80 43%,#1e677a 47%,#1c677c 47%,#1e677a 47%,#1b667b 47%,#1d687b 51%,#20697c 51%,#20687e 52%,#256c7e 54%,#266d81 54%,#246d80 54%,#357688 59%,#39788a 59%,#397a8c 60%,#3c7b8d 60%,#448193 61%,#438092 61%,#488395 62%,#4b8696 63%,#4f8899 63%,#558d9c 64%,#5c91a1 65%,#6195a3 66%,#6a99a9 67%,#7aa6b3 70%,#7aa6b1 70%,#7ba7b4 70%,#7ea8b4 71%,#81a8b7 71%,#7fa9b5 71%,#83abb7 71%,#8fb3bf 74%,#8fb4bd 74%,#94b6c0 74%,#9bbbc6 76%,#a8c4cf 78%,#a8c5cd 79%,#afcad3 80%,#b2cad4 80%,#b2cbd2 81%,#b4ccd6 81%,#b5ccd4 81%,#bbcfd8 82%,#bbd2da 83%,#bfd3dc 83%,#bfd3da 83%,#c3d5df 84%,#c7dae0 85%,#cedde4 86%,#cddee5 87%,#e0e9ee 91%,#e0ebf1 92%,#e1eaef 93%,#e2ebf2 93%,#e1ecf0 93%,#e3ecf3 93%,#e5eef3 94%,#e7eff2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #e7eff2 0%,#e7eff2 5%,#e1ecf2 8%,#e0ebef 8%,#dfe8ef 9%,#dbe8ee 9%,#dde8ee 10%,#d8e5eb 10%,#d6e3eb 12%,#c9dae1 15%,#c3d7e0 16%,#c0d4dd 17%,#bdd4dc 17%,#b5cdd7 19%,#b3ccd3 19%,#b1ccd5 20%,#aac7cf 21%,#abc7d2 21%,#a8c5cd 21%,#a8c4cf 22%,#99bbc5 24%,#99bbc7 24%,#94b9c2 25%,#96b8c4 25%,#92b6c2 25%,#86aeba 27%,#87afbb 28%,#82acba 28%,#82aab6 29%,#80aab8 29%,#7aa6b3 30%,#6194a5 33%,#5e93a3 34%,#558d9c 35%,#548c9d 35%,#4b8696 36%,#458294 37%,#418091 38%,#3e7d8f 38%,#38798b 39%,#307384 41%,#2b6f84 42%,#276e80 43%,#1e677a 47%,#1c677c 47%,#1e677a 47%,#1b667b 47%,#1d687b 51%,#20697c 51%,#20687e 52%,#256c7e 54%,#266d81 54%,#246d80 54%,#357688 59%,#39788a 59%,#397a8c 60%,#3c7b8d 60%,#448193 61%,#438092 61%,#488395 62%,#4b8696 63%,#4f8899 63%,#558d9c 64%,#5c91a1 65%,#6195a3 66%,#6a99a9 67%,#7aa6b3 70%,#7aa6b1 70%,#7ba7b4 70%,#7ea8b4 71%,#81a8b7 71%,#7fa9b5 71%,#83abb7 71%,#8fb3bf 74%,#8fb4bd 74%,#94b6c0 74%,#9bbbc6 76%,#a8c4cf 78%,#a8c5cd 79%,#afcad3 80%,#b2cad4 80%,#b2cbd2 81%,#b4ccd6 81%,#b5ccd4 81%,#bbcfd8 82%,#bbd2da 83%,#bfd3dc 83%,#bfd3da 83%,#c3d5df 84%,#c7dae0 85%,#cedde4 86%,#cddee5 87%,#e0e9ee 91%,#e0ebf1 92%,#e1eaef 93%,#e2ebf2 93%,#e1ecf0 93%,#e3ecf3 93%,#e5eef3 94%,#e7eff2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #e7eff2 0%,#e7eff2 5%,#e1ecf2 8%,#e0ebef 8%,#dfe8ef 9%,#dbe8ee 9%,#dde8ee 10%,#d8e5eb 10%,#d6e3eb 12%,#c9dae1 15%,#c3d7e0 16%,#c0d4dd 17%,#bdd4dc 17%,#b5cdd7 19%,#b3ccd3 19%,#b1ccd5 20%,#aac7cf 21%,#abc7d2 21%,#a8c5cd 21%,#a8c4cf 22%,#99bbc5 24%,#99bbc7 24%,#94b9c2 25%,#96b8c4 25%,#92b6c2 25%,#86aeba 27%,#87afbb 28%,#82acba 28%,#82aab6 29%,#80aab8 29%,#7aa6b3 30%,#6194a5 33%,#5e93a3 34%,#558d9c 35%,#548c9d 35%,#4b8696 36%,#458294 37%,#418091 38%,#3e7d8f 38%,#38798b 39%,#307384 41%,#2b6f84 42%,#276e80 43%,#1e677a 47%,#1c677c 47%,#1e677a 47%,#1b667b 47%,#1d687b 51%,#20697c 51%,#20687e 52%,#256c7e 54%,#266d81 54%,#246d80 54%,#357688 59%,#39788a 59%,#397a8c 60%,#3c7b8d 60%,#448193 61%,#438092 61%,#488395 62%,#4b8696 63%,#4f8899 63%,#558d9c 64%,#5c91a1 65%,#6195a3 66%,#6a99a9 67%,#7aa6b3 70%,#7aa6b1 70%,#7ba7b4 70%,#7ea8b4 71%,#81a8b7 71%,#7fa9b5 71%,#83abb7 71%,#8fb3bf 74%,#8fb4bd 74%,#94b6c0 74%,#9bbbc6 76%,#a8c4cf 78%,#a8c5cd 79%,#afcad3 80%,#b2cad4 80%,#b2cbd2 81%,#b4ccd6 81%,#b5ccd4 81%,#bbcfd8 82%,#bbd2da 83%,#bfd3dc 83%,#bfd3da 83%,#c3d5df 84%,#c7dae0 85%,#cedde4 86%,#cddee5 87%,#e0e9ee 91%,#e0ebf1 92%,#e1eaef 93%,#e2ebf2 93%,#e1ecf0 93%,#e3ecf3 93%,#e5eef3 94%,#e7eff2 100%); /* IE10+ */
    background: linear-gradient(to right,  #e7eff2 0%,#e7eff2 5%,#e1ecf2 8%,#e0ebef 8%,#dfe8ef 9%,#dbe8ee 9%,#dde8ee 10%,#d8e5eb 10%,#d6e3eb 12%,#c9dae1 15%,#c3d7e0 16%,#c0d4dd 17%,#bdd4dc 17%,#b5cdd7 19%,#b3ccd3 19%,#b1ccd5 20%,#aac7cf 21%,#abc7d2 21%,#a8c5cd 21%,#a8c4cf 22%,#99bbc5 24%,#99bbc7 24%,#94b9c2 25%,#96b8c4 25%,#92b6c2 25%,#86aeba 27%,#87afbb 28%,#82acba 28%,#82aab6 29%,#80aab8 29%,#7aa6b3 30%,#6194a5 33%,#5e93a3 34%,#558d9c 35%,#548c9d 35%,#4b8696 36%,#458294 37%,#418091 38%,#3e7d8f 38%,#38798b 39%,#307384 41%,#2b6f84 42%,#276e80 43%,#1e677a 47%,#1c677c 47%,#1e677a 47%,#1b667b 47%,#1d687b 51%,#20697c 51%,#20687e 52%,#256c7e 54%,#266d81 54%,#246d80 54%,#357688 59%,#39788a 59%,#397a8c 60%,#3c7b8d 60%,#448193 61%,#438092 61%,#488395 62%,#4b8696 63%,#4f8899 63%,#558d9c 64%,#5c91a1 65%,#6195a3 66%,#6a99a9 67%,#7aa6b3 70%,#7aa6b1 70%,#7ba7b4 70%,#7ea8b4 71%,#81a8b7 71%,#7fa9b5 71%,#83abb7 71%,#8fb3bf 74%,#8fb4bd 74%,#94b6c0 74%,#9bbbc6 76%,#a8c4cf 78%,#a8c5cd 79%,#afcad3 80%,#b2cad4 80%,#b2cbd2 81%,#b4ccd6 81%,#b5ccd4 81%,#bbcfd8 82%,#bbd2da 83%,#bfd3dc 83%,#bfd3da 83%,#c3d5df 84%,#c7dae0 85%,#cedde4 86%,#cddee5 87%,#e0e9ee 91%,#e0ebf1 92%,#e1eaef 93%,#e2ebf2 93%,#e1ecf0 93%,#e3ecf3 93%,#e5eef3 94%,#e7eff2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7eff2', endColorstr='#e7eff2',GradientType=1 ); /* IE6-9 */
}

/************************************header-end************************************************************/


/**********************************************content*******************************************************/
.align{
    width: 960px;
    margin: 40px auto;
    border: 1px solid black;
}

.leftCol{
    width: 250px;
    float: left;
}

.rightCol{
    width:650px;
    float: right;
    border: 1px solid black;
}

.navbar{
    background-color: #eff3f7;
    border-radius: 4px;
    overflow: hidden;
}

.navbar a{
    display: block;
    text-decoration: none;
    font-size: 23px;
    padding: 28px;
    font-family: "fira_sansbook";
    color: #3ba8c0;
    letter-spacing: -1px;
}

.navbar a:hover{
    color: #959aa8;
}

a.active{
    background-color: #3ba8c0;
    color: #ffffff; 
}

a.active:hover{
    cursor: default;
    color: #ffffff;
}
.navbar li{
    position: relative;
}
.navbar li:after{
    content: "";
    display: block;
    position: absolute;
    width: 230px;
    height: 2px;
    background-color: #3ba8c0;
    bottom: 0;
    left: 50%;
    margin-left: -115px;
}
.navbar li:last-child:after{
    display: none;
}

/************************************************************************************/

.info{
    padding-top: 22px;
    background-color: #eff3f7;
    padding-right: 55px;
    border-radius: 4px;
    margin-bottom: 26px;
}

.info h2{
    color: #3ba8c0;
    font-size: 27px;
    line-height: 22px;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 26px;
    font-family: "fira_sansbook";
    letter-spacing: -1px;
}

.line{
  width: 341px;
  height: 2px;
  background-color: #3ba8c0;
  margin-bottom: 24px;
}

.face{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #3ba8c0;
  margin: 10px 23px 67px 55px;
  float: left;
  background-image: url('../img/DSCF1114.JPG');
  background-size: 120%;
  background-position: -19px;
}

.description li{
    line-height: 30px;
}
.desc-item{
    font-family: 'fira_sansmedium';
    font-size: 15px;
    color: #4a545d;
    float: left;
    margin-left: 20px;
}


.desc-info{
    font-family: "fira_sansbook";
    font-size: 15px;
    color: #4a545d;
    margin-left: 10px;
}
.skills li{
    padding: 0px 10px;
    display: inline-block;
    border-radius: 2px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3ba8c0+0,3ba8c0+50,2e8ca2+51,2e8ca2+100 */
    background: #3ba8c0; /* Old browsers */
    background: -moz-linear-gradient(top,  #3ba8c0 0%, #3ba8c0 50%, #2e8ca2 51%, #2e8ca2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3ba8c0), color-stop(50%,#3ba8c0), color-stop(51%,#2e8ca2), color-stop(100%,#2e8ca2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #3ba8c0 0%,#3ba8c0 50%,#2e8ca2 51%,#2e8ca2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #3ba8c0 0%,#3ba8c0 50%,#2e8ca2 51%,#2e8ca2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #3ba8c0 0%,#3ba8c0 50%,#2e8ca2 51%,#2e8ca2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #3ba8c0 0%,#3ba8c0 50%,#2e8ca2 51%,#2e8ca2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ba8c0', endColorstr='#2e8ca2',GradientType=0 ); /* IE6-9 */

}


/**********************************/

.rightCol:last-child{
    margin-bottom: 0;
}

.job{
    padding-top: 22px;
    border-radius: 4px;
    background-color: #eff3f7;
    padding-bottom: 45px;
    margin-top: 26px;
}
.job h2{
    color: #3ba8c0;
    font-size: 27px;
    line-height: 22px;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 26px;
    font-family: "fira_sansbook";
    letter-spacing: -1px; 
}
.short_line{
  width: 209px;
  height: 2px;
  background-color: #3ba8c0;
  margin-bottom: 27px;
}

.jobPlace{
    position: relative;
    margin-left: 125px;
    font-family: "fira_sansbook";
    color: #4a545d;
    margin-bottom: 25px;
}

.jobPlace:before{
    content: "";
    position: absolute;
    background-image: url('../img/LockAndAnother.png');
    background-repeat: no-repeat;
    display: block;
    width: 41px;
    height: 34px;
    background-position: -2px -2px;
    left: -62px;
}

.jobPlace h3{
    font-size: 17px;
}

.school:before{
    content: "";
    position: absolute;
    background-image: url('../img/LockAndAnother.png');
    background-repeat: no-repeat;
    display: block;
    width: 41px;
    height: 34px;
    background-position: -47px -2px;
    left: -62px;    
}

.docum:before{
    content: "";
    position: absolute;
    background-image: url('../img/LockAndAnother.png');
    background-repeat: no-repeat;
    display: block;
    width: 41px;
    height: 34px;
    background-position: -92px -2px;
    left: -62px;    
}






/**********************************************content-end***************************************************/


/**********************************************FOOTER***************************************************/
.footer{
    background-color: #eff3f7;
    padding-top: 35px;
    padding-bottom: 40px;
    text-align: center;
}

.lock{
    background-image: url('../img/lockAndUnlock.png');
    background-repeat: no-repeat;
    display: block;
     width: 20px;
    height: 32px;
    background-position: -2px -2px;

    float: left;
}

.lock:hover{
    background-position: -26px -2px;
}

.alignFooter{
    width: 960px;
    margin: 0 auto;
    padding-left: 30px;
}

.copyrait{
    font-family: 'fira_sanslight';
    font-size: 13px;
    color: #555f67;
    line-height: 40px;
}
